* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
  & a {
    text-decoration: none;
  }
}

body {
  font-family: 'Raleway';
  
  h1 {
    color: crimson;
  }
}

.wrapper {
  max-width: 1440px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 117px;
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 28px 16px;
      color: #5ECE7B;
      cursor: pointer;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid #5ECE7B;
      }

      // &::after {
      //   display: block;
      //   content: '';
      //   width: 140%;
      //   margin-left: -20%;
      //   margin-top: 32px;
      //   height: 2px;
      //   background-color: transparent;
      // }

      // &:hover::after{
      //   background-color: #5ECE7B;
        
      // }
    }
  }
}

.headerBucket {
  background-color: transparent;
  border: transparent ;
}



.headerSelectCurrency {
  border: none;
  margin-right: 22px;
}

.headerRightBlock {
  padding: 28px 0;
}

.headerBuy {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin-top: 48%;
}

.main {
  padding: 0 101px;
  // visibility: hidden;
  h1 {
    font-weight: 300;
    font-size: 42px;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

//==================================================
//============= My Bag =============================
//==================================================

.myBag {
  visibility: visible;
  display: none;
}

.myBag.active {
  display: block;
}

.myBag__block {
  position: absolute;
  width: 325px;
  height: 540px;
  left: 1028px;
  // top: 78px;
  background: #FFFFFF;
  z-index: 2;
  padding: 8px 13px;
}
.myBag__overlay {
  display: block;
  content: '';
  background-color: rgba(57, 55, 72, 0.22);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.myBag__title h3 {
  width: 60px;
}

.myBag__item {
  display: flex;
  height: 137px;
  margin: 22px 0 41px 3px;
}
.myBag__item-column1 {
  width: 136px;
}

.myBag__item-column2 {
  width: 24px;
  position: relative;
  margin-right: 10px;
}

.myBag__item-btnPlus  {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0%;
  background-color: #fff;

  border: 1px solid #1D1F22;
  box-sizing: border-box;
  cursor: pointer;
}
.myBag__item-btnMinus {
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 0%;
  background-color: #fff;

  border: 1px solid #1D1F22;
  box-sizing: border-box;
  cursor: pointer;
}

.myBag__item-count {
  position: absolute;
  top: 40%;
}

.myBag__item-sizes button {
  // position: absolute;
  border-radius: none;
  border: solid 1px #000;
  background-color: #fff;
  width: 24px;
  height: 24px;
  // left: 1044px;
  // top: 247px;

  font-family: 'Source Sans Pro';
  
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */
  align-items: center;
  text-align: center;
  margin-right: 8px;
  margin-top: 27px;
  color: #1D1F22;
  cursor: pointer;
}

.myBag__item-column3 {
  width: 105px;
  height: 137px;
  
}

.myBag__item-column3 img{
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.myBag__totalCost {
  margin-top: 52px;
}

.myBag__totalCost span{
  position: absolute;
  right: 20px;
  font-weight: 700;
  
}


.myBag__buttons {
  margin-top: 35px;
}
.myBag__buttons button {
  padding: 13px 0;
  width: 140px;
  height: 43px;
  box-sizing: border-box;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.myBag__buttonsView {
  background: #FFFFFF;
  border: 1px solid #1D1F22;
}

.myBag__buttonsCheck {
  color:#fff;
  background: #5ECE7B;
  border: 1px solid #5ECE7B;
}

.myBag__buttons button:first-child {
  margin-right: 12px;
}

//==================================================
//============= Variants ===========================
//==================================================

.var {
  width: 79px;
  height: 80px;
  margin-bottom: 30px;

  & img {
    width: 100%;
    object-fit: contain;
  }
}

.productDetails {
  display: flex;
  justify-content: space-between;
  padding: 100px 101px;
}



.detailsImg {
  margin-left: 50px;
  margin-right: 100px;

  width: 610px;
  height: 511px;
  & img {
    // width: 100%;
    height: 100%;
    object-fit:cover;
  }
}

.detailsTilte {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  color: #1D1F22;
  margin-top: 0;
}

.detailsSizeTitle {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #1D1F22;
  margin-bottom: 0;
}



.detailsSizesBtn button {
  width: 63px;
  height: 45px;
  border: 1px solid #1D1F22;
  cursor: pointer;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #1D1F22;
  background-color: #fff;

  margin-right: 12px;
}

.detailsSizesBtn button:focus {
  background-color: #1D1F22;
  
  color: #fff;
}

.detailsAddBtn {
  padding: 13px 0;
  margin-bottom: 40px;
  width: 292px;
  height: 43px;
  box-sizing: border-box;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;

  color:#fff;
  background: #5ECE7B;
  border: 1px solid #5ECE7B;
}

.detailsColorsTitle {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.detailsColors {
  display: flex;
  
}

.detailsColorsBlock {
  display: block;
  content: "";
  cursor: pointer;
  width: 32px;
  height: 32px;
  
  margin-right: 12px;
}

.detailsColorsBlock:nth-child(1) {
  background-color: #5ECE7B;
}
.detailsColorsBlock:nth-child(2) {
  background-color: #1D1F22;
}
.detailsColorsBlock:nth-child(3) {
  background-color: #0F6450;
}


.detailsColorsBlock:focus {
  border: 1px solid #5ECE7B;
}

.detailsPrice {
  margin-bottom: 23px;
}

.detailsPrice h4 {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.detailsPrice span {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  
}

.detailsText {
  width: 292px;
  height: 103px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 159.96%;
}




.form_radio_btn {
	display: inline-block;
	margin: 10px 12px 10px 0;
}
.form_radio_btn input[type=radio] {
	display: none;
}
.form_radio_btn label {
  width: 63px;
  height: 45px;
  text-align: center;
	display: inline-block;
	cursor: pointer;
	padding: 3px 22px;
	line-height: 34px;
	border: 1px solid #1D1F22;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
	border-radius: 0;
	user-select: none;
}
 
/* Checked */
.form_radio_btn input[type=radio]:checked + label {
	background: #1D1F22;
  color: #fff;
}


//==================================================
//================= Cart ===========================
//==================================================
.cart__page {
  padding: 101px 100px;
  & h4 {
    padding-bottom: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
  }
}


.cart.active { 
  display: block;
}

.cart__block {
  position: absolute;
  width: 325px;
  height: 540px;
  left: 1028px;
  // top: 78px;
  background: #FFFFFF;
  z-index: 2;
  padding: 8px 13px;
}
.cart__overlay {
  display: block;
  content: '';
  background-color: rgba(57, 55, 72, 0.22);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.cart__title h3 {
  width: 60px;
}

.cart__item {
  display: flex;
  height: 228px;
  
  border-top: 1px solid #E5E5E5;
  width: 100%;
  padding: 21px;
}
.cart__item-column1 {
  width: 170px;
  
  position: relative;
  margin-right: 68%;
}

.cart__item-column2 {
  width: 45px;
  position: relative;
  margin-right: 12px;
}

.cart__item-btnPlus  {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 0%;
  background-color: #fff;

  border: 1px solid #1D1F22;
  box-sizing: border-box;
  cursor: pointer;
}
.cart__item-btnMinus {
  position: absolute;
  width: 45px;
  height: 45px;
  bottom: 0%;
  background-color: #fff;

  border: 1px solid #1D1F22;
  box-sizing: border-box;
  cursor: pointer;
}

.cart__item-count {
  position: absolute;
  top: 40%;
}

.cart__item-sizes button {
  // position: absolute;
  border-radius: none;
  border: solid 1px #000;
  background-color: #fff;
  width: 63px;
  height: 45px;
  // left: 1044px;
  // top: 247px;

  font-family: 'Source Sans Pro';
  
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */
  align-items: center;
  text-align: center;
  margin-right: 8px;
  margin-top: 27px;
  color: #1D1F22;
  cursor: pointer;
}



.cart__item-column3 img{
  width: 141px;
  height: 100%;
  object-fit:cover;
}

.cart__totalCost {
  margin-top: 52px;
}

.cart__totalCost span{
  position: absolute;
  right: 20px;
  font-weight: 700;
  
}


.myBagcart__buttons {
  margin-top: 35px;
}
.cart__buttons button {
  padding: 13px 0;
  width: 140px;
  height: 43px;
  box-sizing: border-box;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.cart__buttonsView {
  background: #FFFFFF;
  border: 1px solid #1D1F22;
}

.cart__buttonsCheck {
  color:#fff;
  background: #5ECE7B;
  border: 1px solid #5ECE7B;
}

.cart__buttons button:first-child {
  margin-right: 12px;
}

